<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.mmc.mapper.ApplycationMapper">
    <select id="applyPage" resultType="edu.mmc.entity.vo.AifVo">
        <include refid="apply"></include> and ${field} = #{id}
    </select>
    <sql id="apply">
        SELECT it.id id ,it.stat_id statId,it.type type,it.name, pt.name statName,iy.name tpName,it.apply_date applyDate,
        it.execute_date executeDate,it.faculty,it.major,it.intro,tc.name tuName,stu.name stuName from item it
        join pty pt on it.stat_id = pt.id join student stu on it.stu_id = stu.id
        join teacher tc on it.tutor_id = tc.id join ity iy on iy.id = it.type where it.status = 1 and  it.stat_id BETWEEN 1 and 7
    </sql>
    
    <select id="getAuditVo" resultType="edu.mmc.entity.vo.AuditVo">
        select IFNULL(tu_comment,'') tuComm,IFNULL(fa_comment,'') faComm from applycation where item_id = #{tid}
    </select>


</mapper>
